/**
 * We need to adjust things a bit when using bootstrap's navbar and the admin
 * menu module. Below 980px, things just work.
 *
 * In fact, it seems that below 980px, they do NOT just work
 */
@media (min-width: 980px) {
  body {
    padding-top: 40px;
    background-color:whiteSmoke;
  }
  
  /**
   * Styles for fixed navbar, when toolbar is active.
   */
  html body.toolbar {
    padding-top: 60px !important;
  }

    html body.toolbar .navbar-fixed-top {
      top: 30px;
    }

    html body.toolbar #toolbar {
      z-index: 1050;
    }

  /**
   * Admin Menu is oddly inconsistent about applying the .admin-menu class to the
   * body element, *and* it uses important. This means we need our own classes to
   * cover all the Admin Menu types, that we need the selectors to be very, very
   * specific, and that we have to use important too.
   */
  html body.bootstrap-admin-menu,
  html body.bootstrap-admin-menu-toolbar {
    margin-top: 0 !important;
    /* By default, the bootstrap navbar is 40px, the admin toolbar is 32px, and
       the regular admin menu is 26px. Instead of making the padding different
       for each type of menu, we use the larger value, and use a multiple of the
       line height (18px). */
    padding-top: 90px;
  }
  
    .bootstrap-admin-menu .navbar,
    .bootstrap-admin-menu-toolbar .navbar  {
      margin-bottom: 0;
    }
    
    .bootstrap-admin-menu .navbar-fixed-top {
      top: 26px;
    }
    
    .bootstrap-admin-menu-toolbar .navbar-fixed-top {
      top: 32px;
    }
    
    /* Position admin menu below navbar */
    .bootstrap-admin-menu #admin-menu,
    .bootstrap-admin-menu-toolbar #admin-menu {
      margin-bottom: 0;
      position: fixed;
      top: 0;
      z-index: 1035;
    }
}


/**
 * Admin theme settings and overrides.
 *
 * @todo
 *  -- consider how this should interact with the media query
 */

/**
 * Module list form.
 */
#system-modules .checkbox .control-group {
  text-align: center;
}

  #system-modules .checkbox .control-group input {
    float: none;
    margin-left: 0;
  }


/**
 * Node edit forms.
 */
.page-node-edit textarea {
  /* We removed the class that Drupal uses to make textareas *always* 100% width
     in order to more closely match the Bootstrap defaults, but 100% width
     textareas make perfect sense in node edit screens. */
  width: 100%; 
}


/**
 * dblog form.
 */
.form-item-type,
.form-item-severity {
  float: none;
  padding: 0;
  width: auto;
}

  .form-item-type select,
  .form-item-severity select {
    
  }

#dblog-filter-form .form-actions {
  float: none;
  padding: 17px 20px 18px 160px;
}


/**
 * Bootstrap bugfixes (?).
 *
 * The bootstrap documentation's markup is slightly different (perhaps one or
 * the other implementation is newer), so this duplicate declaration is required
 * for the .nav-header classes to have any effect.
 *
 * @see http://twitter.github.com/bootstrap/components.html#navbar
 * @todo
 *    check versions of theme bootstrap codebase and bootstrap docs codebase
 */
 .dropdown-menu .nav-header {
  color: #999999;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  display: block;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.dropdown-menu > li + .nav-header {
  margin-top: 9px;
}

/*#headerimg{
background: url('fondo2.png') no-repeat;
height: 200px;
width: 100%;
}*/

.container {

}

#jumbotron {
  background: url('fondo2.png') no-repeat;
  height: 300px;
  position: relative;
  padding: 40px 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
border-bottom: 1px solid #DDD;
}

#jumbotron .text{
margin-top: 100px;


}
.region-highlighted {
 filter: alpha(opacity=70);
-moz-opacity:0.7;
opacity: 0.7;

}
.feed-icon, .node-readmore  {
display:none;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #FAA732;
  background-image: -moz-linear-gradient(top, orange, #FAA732);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(orange), to(#FAA732));
  background-image: -webkit-linear-gradient(top, orange, #FAA732);
  background-image: -o-linear-gradient(top, orange, #FAA732);
  background-image: linear-gradient(to bottom, orange, #FAA732);
  background-repeat: repeat-x;
  border: 1px solid #FAA732;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.navbar .brand, .navbar .nav > li > a  {
color: #FFF !important;
text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color:#DA4F49;
/*  #FAA732;
 color: #DA4F49 !important;
*/
 }

.field-name-field-anonymous-author, .field-name-field-check, .tabledrag-hide, .field-multiple-drag {
display:none; }

.captcha .fieldset-wrapper  img{
margin-left: 200px;}

.field-name-field-hijo-genero, .field-name-field-h-edad, #field-hijos-values .form-horizontal .control-group {
margin: 0px;

}
.field-name-field-hijo-genero { float: left; }
.field-name-field-h-edad {
/*float: right;*/
}
